<%= form_with(model: child) do |form| %>

  <div>
    <%= form.label :Name%> <br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Age%> <br>
    <%= form.text_field :age %>
  </div>
  <br>

  <%= render 'address/form' , form: form  %>
  <%= render 'pictures/form' , form: form  %>

<br>

<% if child.picture.image.attached? %>
Current Image &nbsp
<%= image_tag(child.picture.image, size: '32x32') if child.picture.image.attached? %>
<% end %>

<br>
<br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
