<%= form_with(model: [current_parent, child]) do |form| %>

  <div>
    <%= form.label :Name%> <br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Age%> <br>
    <%= form.text_field :age %>
  </div>
  <div class="field">
    <%= form.fields_for :picture do |f| %>
      <%= f.label :Picture %><br />
      <%= f.file_field :image %>
    <% end %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
