<p style="color: green"><%= notice %></p>

<h1>Children</h1>

<div id="children">
  <% @children.each do |child| %>
      <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= child.age %>
  </p>

  <p>
    <strong>Grades:</strong>
    <%= child.grades %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(child.picture.image, size: '32x32') if child.picture.image.attached? %>
  </p>

    <p>
      <%= link_to "Show this child", child %>
    </p>
  <% end %>
</div>

<%= link_to "New Child", new_parent_child_path %>
