<%= form_with(model: pod) do |form| %>

  <div>
    <%= form.label :Name%><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Phone_Number%><br>
    <%= form.text_field :phone_number %>
  </div>
  <div>
    <%= form.label :Grades%><br>
    <%= form.select :grades, ApplicationRecord::Grade , { prompt: "Please select" }, { multiple: true } %>
  <br>

  <%= render 'address/form' , form: form  %>
  <%= render 'pictures/form' , form: form  %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
