<p style="color: green"><%= notice %></p>

<div>
    <%= render 'pods/search' %>
    <br>
</div>

<h1>Pods</h1>

<div id="pods">
  <% @pods.active.each do |pod| %>
  <p>
    <strong>Name:</strong>
    <%= pod.name %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= pod.phone_number %>
  </p>

   <p>
    <strong>Grade:</strong>
    <%= pod.grades %>
  </p>

    <p>
    <strong>Picture:</strong>
    <%= image_tag(pod.picture.image, size: '32x32') if pod.picture.image.attached? %>
  </p>
    <p>
      <%= link_to "Show this Pod", pod %>
    </p>
  <% end %>

</div>

<%= link_to "New Pod", new_pod_path %>
