<div class="home">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="home_slider_title">The Premium System Education</div>
        <div class="home_slider_subtitle">Future Of Education Technology</div>
        <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
          <div class="d-flex flex-row align-items-center justify-content-start">
            <%= render 'pods/search' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="courses">
  <div class="container">
    <div class="row courses_row">
      <% @pods.active.each do |pod| %>
      <div class="col-lg-4 course_col ">
          <a href="/pods/<%= pod.id %>">
            <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="course_image"><%= image_tag(pod.picture.image) if pod.picture.image.attached? %></div>
          <div class="course_body">
            <h3 class="course_title"><%= pod.name %></h3>
            <div class="course_teacher"><%= pod.phone_number %></div>
          </div>
            </div>
          </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
