<p style="color: green"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @pod.name %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @pod.phone_number %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @pod.status %>
  </p>
  <p>
    Address:
  </p>
  <p>
    <strong>Street:</strong>
    <%= @pod.address.street %>
  </p>
    <p>
    <strong>City:</strong>
    <%= @pod.address.city %>
  </p>
    <p>
    <strong>State:</strong>
    <%= @pod.address.state %>
  </p>
    <p>
    <strong>Zipcode:</strong>
    <%= @pod.address.zipcode %>
  </p>
    <p>
    <strong>Country:</strong>
    <%= @pod.address.country %>
  </p>
    <strong>Picture:</strong> <br>
    <%= image_tag(@pod.picture.image, size: '200x200')  if @pod.picture.image.attached?  %>
  </p>

    <strong>Students</strong><br>
    <br>
  <% @pod.child_pods.where(status: "active").each do |ac| %>
  <strong>Name:</strong>
  <%= ac.child.name %><br>
  <% end %><br>

<%= link_to "Apply" ,new_child_pod_path(id: @pod.id)  %>
<div>
  <%= link_to "Edit this pod", edit_pod_path(@pod) %> |
  <%= link_to "Back to pods", pods_path %>
  <%= button_to "Destroy this pod", @pod, method: :delete %>
</div>
